


body{
    background-color: #e49fff;
}
/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed; /* Fixa o rodapé na parte inferior */
    bottom: 0;
    width: 100%;
}


